header{
    position: sticky;
    margin-top: 0;

}
.app-logo {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: bold;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .nav-buttons {
    display: flex;
  }
  
  .nav-button {
    color: #fff;
    margin: 0 20px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid transparent;
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s, box-shadow 0.3s;
  }
  
  .nav-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #fff;
    transform: translateY(-2px); /* Efecto de elevación al pasar el ratón por encima */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra al pasar el ratón por encima */
  }
  
  .mat-toolbar {
    background-color: #030405;
    color: #fff;
    height: 80px;
  }
  
  .larger-header {
    height: 100px;
  }
  
  .section {
    padding: 40px 20px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  .productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .producto {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: calc(50% - 40px);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .producto:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  
  .producto h3 {
    margin-top: 0;
  }
  
  .precio {
    font-weight: bold;
    color: #007bff;
  }
  
  .calidad {
    color: #28a745;
  }

  

  .featured-content {
    padding: 40px;
  }
  
  .container3 {
    margin-left: 3%;
    margin-right: 0%;
    max-width: 1200px;
    display: flex; /* Establecemos el contenedor como un flexbox */
    justify-content: space-between; /* Distribuimos el espacio entre los elementos */
  }
  
  .card {
    
    flex: 0 0 calc(33.33% - 20px); /* Establecemos el ancho de cada tarjeta */
    background-color: #ffffffb4;
    border-radius: 8px;
    margin-bottom: 20px;
    color: #000000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(241, 132, 7, 0.726);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 1;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .content2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .left-column {
    width: calc(50% - 10px); /* Establecemos el ancho de la columna izquierda */
  }
  
  .right-column {
    width: calc(50% - 10px); /* Establecemos el ancho de la columna derecha */
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .card + .card {
    margin-left: 20px; /* Añadimos un margen izquierdo entre las cartas */
  }
  
  @media (max-width: 768px) {
    .card {
      flex: 0 0 calc(100% - 20px); /* Cambiamos el ancho de cada tarjeta para que ocupen el 100% del contenedor */
    }
  
    .card + .card {
      margin-left: 0; /* Quitamos el margen izquierdo en dispositivos móviles */
      margin-top: 20px; /* Añadimos un margen superior entre las cartas */
    }
  }
  
  
  .footer {
    background-color: #33333300;
    color: #fff;
    padding: 40px 0;
  }
  
  .container {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-content {
    display: flex;
  }
  
  .footer-section {
    margin-right: 40px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .footer-section h3 {
    margin-top: 0;
  }
  
  .social-links {
    display: flex;
  }
  
  .social-link {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .footer-cards {
    display: flex;
  }
  
  .card2 {
    background-color: #ffffff8a;
    color: #0a0907;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(241, 132, 7, 0.726);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .card h4 {
    margin-top: 0;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .footer .container:hover .footer-section,
  .footer .container:hover .social-link,
  .footer .container:hover .card2 {
    opacity: 1;
    transform: translateY(0);
  }
  