<header class="mat-elevation-z4">
    <mat-toolbar color="primary">
      <span class="app-logo">Guatemala Visual</span>
      <span class="spacer"></span>
      <div class="nav-buttons">
        <button mat-button [routerLink]="['/']" class="nav-button">Inicio</button>
        <button mat-button [routerLink]="['/productos']" class="nav-button">Viajes</button>
        <button mat-button [routerLink]="['/contacto']" class="nav-button">Contacto</button>
      </div>
    </mat-toolbar>
  </header>

  <section class="featured-content">
    <div class="container3">
      <div class="card">
        <div class="content2">
          <div class="left-column">
            <h2>Peten</h2>
            <p>tiene una altitud media de 127 m s. n. m., por lo que está clasificado como tierras bajas, sus extensiones de cadenas montañosas no son variadas, por lo que es considerado planicie</p>
            <a href="#" class="btn btn-primary">Ver más</a>
          </div>
          <div class="right-column">
            <img src="https://paseoguatemala.com/wp-content/uploads/2020/06/Tikal-Azul_Vertical.jpg" alt="Imagen destacada">
          </div>
        </div>
      </div>
  
      <div class="card">
        <div class="content2">
          <div class="left-column">
            <h2>Solola</h2>
            <p>Es una ciudad de la República de Guatemala, y es también la cabecera departamental del Departamento de Sololá. Es uno de los destinos turísticos más visitados del país.</p>
            <a href="#" class="btn btn-primary">Ver más</a>
          </div>
          <div class="right-column">
            <img src="https://i.pinimg.com/736x/6a/88/60/6a88602350d385b838769dc47e485a91.jpg" alt="Imagen destacada">
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content2">
          <div class="left-column">
            <h2>Antigua</h2>
            <p>Esta bella y mágica ciudad colonial guarda casi quinientos años de historia, con un clima privilegiado y una excepcional vista hacia los volcanes de Fuego y Acatenango.</p>
            <a href="#" class="btn btn-primary">Ver más</a>
          </div>
          <div class="right-column">
            <img src="https://hotellospasos.com/wp-content/uploads/2021/05/antigua-guatemala-05.jpg" alt="Imagen destacada">
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content2">
          <div class="left-column">
            <h2>Jutiapa</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque, velit eget convallis pretium, metus magna aliquet est, a sollicitudin felis nisi et urna.</p>
            <a href="#" class="btn btn-primary">Ver más</a>
          </div>
          <div class="right-column">
            <img src="https://media.istockphoto.com/id/969597324/es/foto/bosque-de-la-laguna-de-atescatempa-monta%C3%B1as-y-volcan-las-viboras-en-guatemala-jutiapa.jpg?s=612x612&w=0&k=20&c=L5jIjtXTcsPj3dTQogrtEtoO_x_mtnxAMlUeRS9KDUU=" alt="Imagen destacada">
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-section">
          <h3>Información</h3>
          <p>Somos una tienda virtual comprometida con brindar los mejores productos y servicios a nuestros clientes.</p>
        </div>
        <div class="footer-section">
          <h3>Síguenos en redes sociales</h3>
          <div class="social-links">
            <a href="#" class="social-link">Facebook</a>
            <a href="#" class="social-link">Twitter</a>
            <a href="#" class="social-link">Instagram</a>
          </div>
        </div>
      </div>
      <div class="footer-cards">
        <div class="card2">
          <h4>Ofertas especiales</h4>
          <p>Descuentos exclusivos para nuestros clientes más fieles.</p>
        </div>
        <div class="card2">
          <h4>Envío gratuito</h4>
          <p>Envío gratis en todas las compras superiores a $50.</p>
        </div>
        <div class="card2">
          <h4>Atención al cliente</h4>
          <p>Estamos aquí para ayudarte. ¡Contáctanos si tienes alguna pregunta!</p>
        </div>
      </div>
    </div>
  </footer>
  
<!--   
 <section id="ropa" class="section">
    <div class="productos">
      <div class="producto">
        <h3>Camiseta</h3>
        <p>Camiseta de algodón de alta calidad</p>
        <p class="precio">Precio: $20</p>
        <p class="calidad">Calidad: Buena</p>
      </div>
      <div class="producto">
        <h3>Pantalón</h3>
        <p>Pantalón vaquero ajustado</p>
        <p class="precio">Precio: $30</p>
        <p class="calidad">Calidad: Excelente</p>
      </div>
      <div class="producto">
        <h3>Pantalón</h3>
        <p>Pantalón vaquero ajustado</p>
        <p class="precio">Precio: $30</p>
        <p class="calidad">Calidad: Excelente</p>
      </div>
      <div class="producto">
        <h3>Pantalón</h3>
        <p>Pantalón vaquero ajustado</p>
        <p class="precio">Precio: $30</p>
        <p class="calidad">Calidad: Excelente</p>
      </div>
    </div>
  </section>

  <section id="zapatos" class="section"> -->
