<!-- <footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <h3>Información</h3>
        <p>Somos una tienda virtual comprometida con brindar los mejores productos y servicios a nuestros clientes.</p>
      </div>
      <div class="footer-section">
        <h3>Síguenos en redes sociales</h3>
        <div class="social-links">
          <a href="#" class="social-link">Facebook</a>
          <a href="#" class="social-link">Twitter</a>
          <a href="#" class="social-link">Instagram</a>
        </div>
      </div>
    </div>
    <div class="footer-cards">
      <div class="card">
        <h4>Ofertas especiales</h4>
        <p>Descuentos exclusivos para nuestros clientes más fieles.</p>
      </div>
      <div class="card">
        <h4>Envío gratuito</h4>
        <p>Envío gratis en todas las compras superiores a $50.</p>
      </div>
      <div class="card">
        <h4>Atención al cliente</h4>
        <p>Estamos aquí para ayudarte. ¡Contáctanos si tienes alguna pregunta!</p>
      </div>
    </div>
  </div>
</footer> -->
