/* .footer {
  background-color: #33333354;
  color: #fff;
  padding: 40px 0;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  display: flex;
}

.footer-section {
  margin-right: 40px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.footer-section h3 {
  margin-top: 0;
}

.social-links {
  display: flex;
}

.social-link {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.footer-cards {
  display: flex;
}

.card {
  background-color: #ffffff8a;
  color: #ffb84e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(241, 132, 7, 0.726);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.card h4 {
  margin-top: 0;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s, box-shadow 0.3s;
}

.footer .container:hover .footer-section,
.footer .container:hover .social-link,
.footer .container:hover .card {
  opacity: 1;
  transform: translateY(0);
} */
